@import url("../var.css");

.About h1 {
  font-size: var(--tam-Font-subtitle);
  color: var(--cor-principal);
  margin: 2rem auto;
  border-bottom: 1px solid var(--cor-terciaria);
  text-align: center;
  padding-bottom: 1rem;
}

.about-div {
  display: flex;
  gap: 1rem;
}

.about-img {
  flex: 1 1 200px;
}

.about-p {
  color: var(--cor-secundaria);
  font-size: 1.4rem;
  flex: 1 1 260px;
}

.about-p::before {
  content: "";
  width: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  height: 7px;
  display: block;
  background: rgb(205, 0, 184);
  background: linear-gradient(
    132deg,
    rgba(205, 0, 184, 1) 36%,
    rgba(19, 255, 25, 0) 80%
  );
}

@media screen and (max-width: 750px) {
  .about-div {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .about-p {
    font-size: 1.2rem;
  }
}
