@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Inter:wght@400;500;600&display=swap");
@import url("./components/var.css");

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 1.4rem 1rem;
    color: rgb(0, 0, 0);
}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

* {
    user-select: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    letter-spacing: 1px;
}

body {
    background-color: #ffe5fc;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

/* scroll bar */

/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(9, 0, 14);
}

::-webkit-scrollbar-thumb {
    background: rgb(56, 0, 128);
    background: linear-gradient(
        94deg,
        rgb(119, 16, 254) 19%,
        rgb(246, 28, 195) 86%
    );
    border-radius: 10px;
}
